/* Fonts */
/* Add more fonts according to your needs */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

/* Colors */
/* Add more color variable according to your needs */

:root {
  --primary: #1a2531;
  --dark: #151a33;
  --secondary: #2b55cc;
  --info: #4d79f6;
  --ternary: #848db3;
  --pure: #eff2f9;
  --fade: #7083b9;
  --mild: #8997bd;
  --footer: #212a4a;
  --github: #6e5494;
  --success: #1ecab8;
  --danger: #f1646c;
  --dark_blue: #28355f;
  --black: #060b1b;
}

/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background: var(--dark);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: var(--primary);
  padding: 1.2rem 0rem;
}

nav .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .inner .logo {
  text-transform: uppercase;
  color: var(--pure);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

nav .inner .logo i {
  color: var(--info);
}

nav .inner button {
  background-color: var(--info);
  padding: 0.5rem 1rem;
  border: None;
  color: var(--pure);
  font-size: 15px;
  border-radius: 3px;
}

section.profile {
  background-color: var(--black);
  display: flex;
  align-items: center;
  margin-top: 45px;
}

section.profile .leftSide {
  display: flex;
  flex: 2;
  align-items: center;
}

section.profile .rightSide {
  flex: 1;
}

section.profile .leftSide h2 {
  color: var(--fade);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1rem;
}

section.profile .leftSide p {
  color: var(--mild);
  font-size: 14px;
}

section.profile .leftSide img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
}

section.profile .leftSide .UserPicture {
  margin-right: 2rem;
  position: relative;
}

section.profile .leftSide .UserPicture span {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: var(--info);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  color: var(--pure);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(31, 42, 54, 0.05);
  cursor: pointer;
}

section.profile .rightSide ul.contact {
  /* color: var(--fade); */
  list-style-type: none;
  margin-bottom: 1.3rem;
}

section.profile .rightSide ul.contact li {
  color: var(--ternary);
}
